---
const today = new Date();
---

<footer
  class="flex flex-col gap-y-2 items-center justify-center pb-8 text-sm mt-auto"
>
  <p>Made with ❤️ by Nikhil</p>
  <p>&copy; {today.getFullYear()} Nikhil. All rights reserved.</p>
</footer>
