---
import { SITE_TITLE } from "../consts";
---

<div class="flex items-center justify-center">
  <nav class="flex items-center p-4 w-full md:w-[60vw]">
    <div class="logo-pfp">
      <a href="/" class="w-14 h-14 rounded-full">
        <img src="/pfp.jpg" class="w-14 h-14 rounded-full" alt="pfp" /></a
      >
    </div>
    <div class="flex items-center ml-auto">
      <ul class="internal-links flex items-center gap-x-4 text-lg font-medium">
        <li>
          <a href="/about" class="decoration-none">About</a>
        </li>
        <li>
          <a href="/blog" class="decoration-none">Archives</a>
        </li>
        <li>
          <a href="/projects" class="decoration-none">projects</a>
        </li>
      </ul>
      <div class="social-links"></div>
    </div>
  </nav>
</div>
<style></style>
